<!DOCTYPE html>
<html>
<head>
	<title>Search Product</title>
</head>
<br>
<hr>
<hr>
<h2>Products Detail</h2>

	<table border="2">
		<thead>
			<tr>
				<th>SKU</th>
				<th>Product Name</th>
				<th>Selling Price</th>
				<th>Description</th>
				<th>Image</th>
			</tr>
		</thead>
		<tbody>	
			{% for product in items %}
			<tr>
				<td>{{ product.sku }}</td>
				<td>{{product.item_name}}</td>
				<td>{{product.sp}}</td>
				<td>{{product.description}}</td>
				<td><a href="{{product.img.url}}"><img src="{{product.img.url}}" height="80" width="80"></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>